/*!
 * Форма (Form).
 *
 * Модуль "Панель уведомлений".
 *
 * Copyright 2015 Вeб-студия GearMagic
 * Copyright Anton Tivonenko <anton.tivonenko@gmail.com>
 * https://gearmagic.ru/license/
 */

/**
 * Выпадающий список элементов (значков).
 */
.gm-traybar__boundlist-icon { line-height: 25px; }
.gm-traybar__boundlist-icon.font-icon {
    position: relative;
    padding-left: 40px;
}
.gm-traybar__boundlist-icon.font-icon i {
    position: absolute;
    left: 5px;
    font-size: 21px;
    color: #90B9A3;
}
.gm-traybar__boundlist-icon.font-icon span {
    color: silver;
    font-size: 12px;
}